html,body{
    padding: 0%;
    height: 100%;
    width: 100%;
    margin: 0%;
}

.firstBg{
    background: url("../IMG/初始背景.png") no-repeat;
    height: 100%;
    width: 100%;
    margin:0%;
    background-size: cover;
    z-index: -1;
}
.startBtn{
    position: absolute;
    z-index: 0;
    height: 8%;
    width: 15%;
    left: 42.5%;
    top: 70%;
    background:url("../IMG/点击进入.png") no-repeat;
    background-size: contain;
    animation: shine 2.5s linear alternate infinite;
    filter: brightness(1.2);
}

@keyframes shine {
    100%{
        filter: brightness(0.2);
    }
}

@keyframes show{
    0%{
        filter: brightness(0.2);
    }
    80%{
        filter: brightness(1.5);
    }
    100%{
        filter: brightness(1);
    }
}
.show{
    animation: show 3s linear;;
}

.text{
    height: 20%;
    width: 80%;
    left: 10%;
    position: absolute;
}
.text1{
    background: url("../IMG/文字1.png") no-repeat;
    background-size: contain;
    top:20%;
    display: none;
}
.text2{
    background: url("../IMG/文字2.png") no-repeat;
    background-size: contain;
    top:33%;
    display: none;
}
 .text3{
    background: url("../IMG/文字3.png") no-repeat;
    background-size: contain;
    top:50%;
    display: none;
}
.text4{
    background: url("../IMG/文字4.png") no-repeat;
    background-size: contain;
    top:65%;
    display: none;
}

.circleY{
    /* height: 10%; */
    border-radius: 100%;
    z-index: 2;
    position: relative;
}
.circleY::before{content: "";padding-top: 100%;display: block;}
@keyframes wave{
    100%{
        transform: scale(1.5);
    }
}
.c1{
    width: 8%;
    filter: opacity(100%);
    top: 70%;
    left: 75%;
    border: 3px solid yellow;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    animation: wave 2.5s linear alternate-reverse infinite ;
    display: none;
}
.c2{
    width: 50%;
    filter: opacity(50%);
    border:9px solid yellow;
    animation: wave 1.5s linear alternate-reverse infinite ; 
    display: none;  
}