html,body{
    padding: 0%;
    height: 100%;
    width: 100%;
    margin: 0%;
}

.background{
    left: 0%;
    position: absolute;
    width: 200%;
    height: 100%;
    background: url("../IMG/脸谱/脸谱背景.png") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    /* z-index: -1; */
}

.tabbar{
    position: absolute;
    height: 100%;
    width: 15%;
    background: url("../IMG/菜单脸谱.png") no-repeat;
    background-size: contain;
    z-index: 3;
}
/* ::-webkit-scrollbar {
	width: 0px;
} */

.mask{
    position: absolute;
    bottom: 0%;
    width: 90%;
    left: 80%;
    height: 80%;
    background: url("../IMG/脸谱/脸谱1.png") no-repeat;
    background-size: contain;
    z-index: 2;
}
.back-box{

    z-index: 4;
}
.back-btn{
    position: absolute;
    height: 24%;
    width: 6%;
    /* border: 10px solid red; */
    z-index: 5;
    bottom: 0%;
}
.toHang{
    height: 10%;
    width: 4%;
    left: 7%;
    top: 15%;
    position: absolute;
    /* border: 10px solid red; */
    z-index: 4;
}
